################################
### Xcode project .gitignore ###
################################

### macOS ###

.DS_Store

### User settings and such ###

xcuserdata/

### Build Artifacts ###

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.xccheckout
build/

### Swift Package Manager ###

.build/

### Playgrounds ###

timeline.xctimeline
playground.xcworkspace
